## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------

#macro(displayFile $file)
  #if ($file.getURL() != "")
    #set ($pdfViewerConfigDoc = $xwiki.getDocument('PDFViewer.Code.PDFViewerConfiguration'))
    #set ($trustedOrigins = $pdfViewerConfigDoc.getValue('trustedOrigins'))
    #set ($withCredentials = $pdfViewerConfigDoc.getValue('withCredentials'))
    #set ($trustedOrigins = $stringtool.join($trustedOrigins.split('\r\n'), ','))
    #set ($queryString = $escapetool.url({
      'file': "${file.getURL()}&form_token=${services.csrf.token}",
      'trustedOrigins': $trustedOrigins,
      'withCredentials': $withCredentials,
      'delegatedView': $file.areViewRightsDelegated()
    }))
    #set ($pdfviewerurl = $services.webjars.url('com.xwiki.pdfviewer:macro-pdfviewer-webjar', 'web/viewer.html'))
    ## Attachment URL have query parameters for cache issue.
    #set ($pdfviewerurl = $pdfviewerurl.split('\?')[0])
    <div>
    <!--[if lt IE 10]>
      <div class="box warningmessage">PDF Viewer : Not compatible with IE < 10</div>
    <![endif]-->
    <![if !(lt IE 10)]>
      <iframe class="pdfviewer" src="${pdfviewerurl}?${queryString}#locale=${xcontext.locale}" width="
        $escapetool.xml($width)" height="$escapetool.xml($height)">
      </iframe>
    <![endif]-->
    </div>
    #set ($dispose = $xwiki.jsx.use('XWiki.PDFViewerMacro'))
  #elseif (!$file.getAttachmentReference().isPresent())
    #error("$services.localization.render(
      'pdfviewer.error.nodocument')")
  #else
    #set($pdfReference = $file.getAttachmentReference().get())
    #error("$services.localization.render('pdfviewer.error.noattachment',[$escapetool.xml($pdfReference.getName()),
    	$escapetool.xml($services.model.serialize($pdfReference.getDocumentReference(), 'default'))])")
  #end
#end

#macro(checkIfActive $pdfReference)
  #set ($activeClass = $NULL)
  #set ($isActive = ("$!request.file" == '' && $foreach.index == 0) || $request.file == $pdfReference.getName())
  #if ($isActive)
    #set ($activeClass = "class='active'")
  #end
#end

#set ($width = $params.width)
#set ($height = $params.height)
#if ($files.size() == 0)
  #error("$services.localization.render('pdfviewer.error.nofile')")
#else
  ## This macro can display multiple PDFs and they are separated by a comma, so make sure that files that contain this
  ## character are not broken.
  #if ($files.size() == 1)
    #displayFile($files.get(0))
  #else
    ## Display each PDF file in its own tab, in the page content.
    ##===========
    ## Display the Tabs
    ##===========
    <div class="floatcontainer">
      <ul class="xwikitabbar">
      #foreach ($file in $files)
        #if ($file.getAttachmentReference().isPresent())
          #set ($pdfRef = $file.getAttachmentReference().get())
          #checkIfActive($pdfRef)
          <li $!activeClass>
            <a href="$doc.getURL('view', "file=$escapetool.url($pdfRef.getName())")">
              $escapetool.xml($pdfRef.getName())</a>
          </li>
        #end
      #end
      </ul>
    </div>
    ##==========================
    ## Include the Tab data for the selected Tab
    ##==========================
    <div class='xwikitabpanescontainer'>
    #foreach ($file in $files)
      #if ($file.getAttachmentReference().isPresent())
        #checkIfActive($file.getAttachmentReference().get())
        #if ($isActive)
          #displayFile($file)
          #break
        #end
      #end
    #end
    </div>
  #end
#end